.display-4 {
    text-align: center;
    font-weight: bold;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 95vw;
    margin-left: 20px;
    line-height: 1.4;
    /* text-align: center; */
}

.hours {
    padding: 6px;
    margin-left: 19%;
}

.input {
    min-height: 25px;
}

.button {
    padding: 7px;
    margin: 0;
    top: 50%;
    -ms-transform: translateY(5%);
    transform: translateY(5%);
}


/* .jumbotron {
    margin-bottom: 0px;
    background-image: url("weather.jpg");
    background-repeat: center no-repeat;
} */

.jumbotron h1 {
    color: black;
    font-size: 5vw;
    padding: -200px 0;
}

.jumbotron {
    max-height: 100px;
    padding: 0 0;
    height: 100%;
    width: 100%;
}

.textInput,
.input,
.citySearch {
    font-size: 1.5vw;
}

.col-3 {
    margin-left: 10px;
    border-style: double;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 20vw;
}

.col {
    margin-left: -2px;
    /* border-style: double; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.cityButton {
    font-size: 1.5vw;
}

#rowtop {
    height: 20vw;
    width: 70vw;
    margin: 2px;
}


/* #rowbot {
    width: 10vw;
    margin: 10px;
} */

#current {
    padding: 10px;
}

.card-title {
    font-size: 1.2vw;
}

.card-body {
    position: relative;
    padding: 5px;
    background-color: blue;
    color: white;
    margin: -5px;
    max-width: 220px;
}

.currentCityName {
    font-size: 3vw;
    font-weight: 800;
}

.forcasttitle {
    font-size: 3vw;
    margin: 15px;
}

.forcastDate {
    margin: -100;
}

#rowmid {
    font-weight: 800;
    font-size: 3vw;
}

#horzontalline {
    margin: 4px;
}